---
- name: Create requirements for all services
  block:
    - name: Run redis container
      community.docker.docker_container:
        name: redis
        image: redis:latest
        restart_policy: always
        networks:
          - name: "{{ server_network_name }}"
        volumes:
          - redis_data:/data

- name: "[{{ deploy_service_name }}] Clone repo"
  block:
    - name: Copy ssh-key
      ansible.builtin.copy:
        src: "~/.ssh/id_rsa"
        dest: "{{ ssh_key_temp_path }}"
        mode: "0600"

    - name: Clone github repo
      ansible.builtin.git:
        repo: "{{ github_url_base }}/{{ github_repo_name }}.git"
        accept_newhostkey: true
        dest: "{{ build_temp_folder }}"
        version: "{{ github_repo_version }}"
        key_file: "{{ ssh_key_temp_path }}"
      register: git_result

- name: "[{{ deploy_service_name }}] Build service image"
  block:
    - name: "[{{ deploy_service_name }}] Save tag for image"
      ansible.builtin.set_fact:
        "{{ deploy_service_name }}_image_tag": "{{ git_result.after[:6] }}"
        cacheable: true

    - name: Build image
      community.docker.docker_image:
        name: "{{ deploy_service_name + deploy_service_postfix }}"
        tag: "{{ vars[deploy_service_name + '_image_tag'] }}"
        build:
          path: "{{ build_temp_folder }}"
          dockerfile: "{{ dockerfile }}"
        source: build

- name: "[{{ deploy_service_name }}] Run service container(s)"
  block:
    - name: Create env file on the server
      ansible.builtin.template:
        src: "../services/{{ deploy_service_name }}/.env.j2"
        dest: "{{ path_to_env_file }}"
        mode: "0644"

    - name: Run container
      ansible.builtin.include_tasks: "../services/{{ deploy_service_name }}/service.yml"

- name: Clean. Delete temp dir and files
  block:
    - name: Remove ssh-key
      ansible.builtin.file:
        state: absent
        path: "{{ ssh_key_temp_path }}"

    - name: Remove temp folder for build
      ansible.builtin.file:
        state: absent
        path: "{{ build_temp_folder }}"

    - name: Delete env file from the server
      ansible.builtin.file:
        state: absent
        path: "{{ path_to_env_file }}"
