#!/usr/bin/env python3

from datetime import date, timedelta
import MySQLdb

interval_statistic = date.today() - timedelta(days=30)
interval_deposit = date.today() - timedelta(days=365)

db = MySQLdb.connect(unix_socket='/tmp/mysqld/mysqld.sock',
                     user="{{ db_server_test['user'] }}",
                     password="{{ db_server_test['password'] }}",
                     database="{{ db_server_test['database'] }}")
cursor = db.cursor()

cursor.execute(f'DELETE FROM statistic WHERE time < ${interval_statistic}')
cursor.execute(f'DELETE FROM deposit WHERE time < ${interval_deposit}')

db.commit()
cursor.execute('OPTIMIZE TABLE statistic')
cursor.execute('OPTIMIZE TABLE deposit')

db.close()
